In [ ]:
import random
import pandas as pd

# Lista de números
restrictions = {
    'Monica': {36,37,38,39,48,58,86,87,91,93,94,95,96,97,98,99,100,101},  
    'Adriana': {65,66,67,68,74,75,76,78,79,80,81,82,83,84,85},   
    'Juan': {50,51,60,61,70,112},  
    'Carina': {41,52,53,55,56,57,62,64,88,92,104},  
    'Silvia': {69,71,72,73,77,117},
    'Raúl': {105,106,107,108,109,110,111,115,116},
    'Darimar': {118,119,120,121,122,123,124,125,126,127,128,129,130},
    'Emiliano': {131,132,133,134,135,136,137,138,139,140},  
}
all_numbers = [value for sublist in restrictions.values() for value in sublist]
all_numbers.sort()

def assign_numbers(restrictions,all_numbers):
    # Inicializar el diccionario de asignaciones
    assignments = {el:[] for el in restrictions.keys()}
   
    # Lista de números disponibles para cada elemento
    available_numbers = {el: [num for num in all_numbers if num not in restrictions[el]] for el in restrictions.keys()}

    for el in restrictions.keys():
        if len(available_numbers[el]) < 11:
            raise ValueError(f"No hay suficientes números disponibles para el elemento {el} con las restricciones dadas.")
    
    for _ in range(11):
        for el in restrictions.keys():
            # Elegir un número aleatorio de los disponibles para el elemento
            num = random.choice(available_numbers[el])
            assignments[el].append(num)
            # Eliminar el número elegido de todos los conjuntos disponibles
            all_numbers.remove(num)
            for k in available_numbers:
                if num in available_numbers[k]:
                    available_numbers[k].remove(num)
    
    return assignments

assignments = assign_numbers(restrictions,all_numbers.copy())
#print(assignments)

df = pd.DataFrame(assignments.values(),index=assignments.keys())
df

{'Monica': [132, 68, 84, 51, 109, 50, 110, 130, 122, 112, 128], 'Adriana': [48, 131, 71, 93, 62, 96, 73, 105, 136, 115, 95], 'Juan': [116, 133, 53, 52, 111, 92, 139, 69, 57, 125, 124], 'Carina': [60, 129, 65, 137, 121, 99, 140, 134, 72, 107, 101], 'Silvia': [126, 67, 118, 135, 87, 39, 120, 81, 104, 38, 94], 'Raúl': [117, 76, 78, 85, 88, 80, 58, 123, 75, 37, 119], 'Darimar': [41, 100, 83, 97, 55, 138, 98, 61, 77, 106, 82], 'Emiliano': [56, 70, 79, 64, 91, 86, 36, 108, 66, 74, 127]}

           0    1    2    3    4    5    6    7    8    9    10
Monica    132   68   84   51  109   50  110  130  122  112  128
Adriana    48  131   71   93   62   96   73  105  136  115   95
Juan      116  133   53   52  111   92  139   69   57  125  124
Carina     60  129   65  137  121   99  140  134   72  107  101
Silvia    126   67  118  135   87   39  120   81  104   38   94
Raúl      117   76   78   85   88   80   58  123   75   37  119
Darimar    41  100   83   97   55  138   98   61   77  106   82
Emiliano   56   70   79   64   91   86   36  108   66   74  127

In [35]:
import random

# Lista de números
cantidad_us = 22
numeros = list(range(1, cantidad_us+1))

# Número de personas
lista_personas = ['Fran','Milton','Roger','Ana','David', 'Biss','Mar','Stef','Cin','Angi','Edw','Emi']
lista_personas.remove('Emi')
# Barajar los números para asignación aleatoria
random.shuffle(numeros)

# Asignar los números a las personas
asignacion = {persona: [] for persona in lista_personas}

# Calcular la cantidad base de números que recibe cada persona
cantidad_base = len(numeros) // len(lista_personas)
sobrantes = len(numeros) % len(lista_personas)

# Asignar los números de manera equitativa
indice = 0
for persona in lista_personas:
    for _ in range(cantidad_base):
        asignacion[persona].append(numeros[indice])
        indice += 1

lista_personas_sobran = lista_personas.copy()
#lista_personas_sobran.remove('Emi')
# Asignar los números sobrantes a algunas personas
if sobrantes > 0:
    for i in range(sobrantes):
        asignacion[lista_personas_sobran[i]].append(numeros[indice])
        indice += 1

# Imprimir la asignación
for persona, nums in asignacion.items():
    print(f'{persona}: {nums}')

Fran: [12, 17]
Milton: [22, 14]
Roger: [1, 16]
Ana: [10, 5]
David: [7, 15]
Biss: [11, 6]
Mar: [8, 18]
Stef: [3, 9]
Cin: [20, 13]
Angi: [21, 4]
Edw: [2, 19]

In [37]:
import random

# Lista de números
cantidad_us = 26
numeros = list(range(23, cantidad_us+1))

# Número de personas
lista_personas = ['Flor','Fabian','Richard','Silvea']
#lista_personas.remove('Emi')
# Barajar los números para asignación aleatoria
random.shuffle(numeros)

# Asignar los números a las personas
asignacion = {persona: [] for persona in lista_personas}

# Calcular la cantidad base de números que recibe cada persona
cantidad_base = len(numeros) // len(lista_personas)
sobrantes = len(numeros) % len(lista_personas)

# Asignar los números de manera equitativa
indice = 0
for persona in lista_personas:
    for _ in range(cantidad_base):
        asignacion[persona].append(numeros[indice])
        indice += 1

lista_personas_sobran = lista_personas.copy()
#lista_personas_sobran.remove('Emi')
# Asignar los números sobrantes a algunas personas
if sobrantes > 0:
    for i in range(sobrantes):
        asignacion[lista_personas_sobran[i]].append(numeros[indice])
        indice += 1

# Imprimir la asignación
for persona, nums in asignacion.items():
    print(f'{persona}: {nums}')

Flor: [23]
Fabian: [24]
Richard: [25]
Silvea: [26]

In [ ]:
import random
import pandas as pd

# Lista de números
restrictions = {
    'Angelica': [40,41,42],  
    'Bisset': [24,27, 53,54,55],   
    'Cintia': [8,9],  
    'David': [5,6,22,29],  
    'Francisco': [3,13,14,20,21],
    'Milton': [11,12,25,38,39],
    'Stefi': [15,16,17,18,19],
    'Ana': [46,47,48,49,56],   
    'Edwin': [7,51,52,57,58],  
    'Martin': [28,35,10],  
    'Florencia': [30,31,32],
    'Fabian': [4,26,43],
    'Silvia': [23],
    'Juan': [50],
    'Andres': [5,6,22,29],   
    'Sofia': [15,16,17,18,19],  
    'Micaela': [28,35,10],  
    'Roxana': [],
    'Emiliano': [],  
}
all_numbers = range(3,59)

def assign_numbers(restrictions,all_numbers):
    # Inicializar el diccionario de asignaciones
    assignments = {el:[] for el in restrictions.keys()}
   
    # Lista de números disponibles para cada elemento
    available_numbers = {el: [num for num in all_numbers if num not in restrictions[el]] for el in restrictions.keys()}

    for el in restrictions.keys():
        if len(available_numbers[el]) < 3:
            raise ValueError(f"No hay suficientes números disponibles para el elemento {el} con las restricciones dadas.")
    
    for _ in range(3):
        for el in restrictions.keys():
            # Elegir un número aleatorio de los disponibles para el elemento
            num = random.choice(available_numbers[el])
            assignments[el].append(num)
            # Eliminar el número elegido de todos los conjuntos disponibles
            all_numbers.remove(num)
            for k in available_numbers:
                if num in available_numbers[k]:
                    available_numbers[k].remove(num)
    
    return assignments

assignments = assign_numbers(restrictions,all_numbers.copy())
#print(assignments)

df = pd.DataFrame(assignments.values(),index=assignments.keys())
df

In [ ]:
import random
import pandas as pd

sorteo = True

# Lista de números
restrictions = {
    'Angelica': [40, 41, 42],
    'Bisset': [24, 27, 53, 54, 55],
    'Cintia': [8, 9],
    'David': [5, 6, 22, 29],
    'Francisco': [3, 13, 14, 20, 21],
    'Milton': [11, 12, 25, 38, 39],
    'Stefi': [15, 16, 17, 18, 19],
    'Ana': [46, 47, 48, 49, 56],
    'Edwin': [7, 51, 52, 57, 58],
    'Martin': [28, 35, 10],
    'Florencia': [30, 31, 32],
    'Fabian': [4, 26, 43],
    'Silvia': [23],
    'Juan': [50],
    'Andres': [5, 6, 22, 29],
    'Sofia': [15, 16, 17, 18, 19],
    'Micaela': [28, 35, 10],
    'Roxana': [],
    'Emiliano': [],
}
all_numbers = list(range(3, 59))

def assign_numbers(restrictions, all_numbers):
    # Inicializar el diccionario de asignaciones
    assignments = {el: [] for el in restrictions.keys()}

    # Lista de números disponibles para cada elemento
    available_numbers = {el: [num for num in all_numbers if num not in restrictions[el]] for el in restrictions.keys()}

    # Asignar 1 número a
    for el in ['Angelica', 'Cintia','Stefi','Sofia','Micaela']:
        if available_numbers[el]:
            num = random.choice(available_numbers[el])
            assignments[el].append(num)
            all_numbers.remove(num)
            for k in available_numbers:
                if num in available_numbers[k]:
                    available_numbers[k].remove(num)

    # Asignar 3 números a los demás, excepto Emiliano
    for _ in range(3):
        for el in restrictions.keys():
            if el not in ['Angelica', 'Cintia','Stefi','Sofia','Micaela','Emiliano']:
                if available_numbers[el]:
                    num = random.choice(available_numbers[el])
                    assignments[el].append(num)
                    all_numbers.remove(num)
                    for k in available_numbers:
                        if num in available_numbers[k]:
                            available_numbers[k].remove(num)

    # Asignar todos los números restantes a Emiliano
    assignments['Emiliano'] = all_numbers

    return assignments

assignments = assign_numbers(restrictions, all_numbers.copy())

if sorteo:
    df = pd.DataFrame(assignments.values(), index=assignments.keys())
else:
    df = pd.DataFrame(columns=range(0,12), index=restrictions.keys())
df = df.fillna(0).astype(int)
df.replace(0,'-',inplace=True)
display(df)

count_distinct = (df != '-').sum().sum()
print(f'La cantidad de numeros asignados es {count_distinct}')

           0   1   2   3   4   5   6   7   8   9   10  11
Angelica   22   -   -   -   -   -   -   -   -   -   -   -
Bisset     51  50  11   -   -   -   -   -   -   -   -   -
Cintia     15   -   -   -   -   -   -   -   -   -   -   -
David      47  12  37   -   -   -   -   -   -   -   -   -
Francisco  49   8  45   -   -   -   -   -   -   -   -   -
Milton     18  10  20   -   -   -   -   -   -   -   -   -
Stefi      35   -   -   -   -   -   -   -   -   -   -   -
Ana        53  41  30   -   -   -   -   -   -   -   -   -
Edwin      34  44  13   -   -   -   -   -   -   -   -   -
Martin     39   7  57   -   -   -   -   -   -   -   -   -
Florencia  58  16  55   -   -   -   -   -   -   -   -   -
Fabian      6  27  32   -   -   -   -   -   -   -   -   -
Silvia     21  17  26   -   -   -   -   -   -   -   -   -
Juan       24  14  43   -   -   -   -   -   -   -   -   -
Andres     54  52  48   -   -   -   -   -   -   -   -   -
Sofia       4   -   -   -   -   -   -   -   -   -   -   -
Micaela    33   -   -   -   -   -   -   -   -   -   -   -
Roxana      3   9  31   -   -   -   -   -   -   -   -   -
Emiliano    5  19  23  25  28  29  36  38  40  42  46  56

La cantidad de numeros asignados es 56

In [19]:
import random
import pandas as pd

sorteo = True
reasingacion =  {
    'Cintia': [15],
    'Milton': [18],
    'Martin': [57],
    'Florencia': [58, 16, 55],
    'Fabian': [27],
    'Silvia': [21,17]    
}

change = [5,23,25,29,28,36,38,42,46,40]
len(change)

# Lista para almacenar el resultado final de las reasignaciones
final_reasingacion = {}

# Crear una copia de la lista de números para evitar modificar la original
remaining_change = change.copy()

# Barajar la lista de números a cambiar para aleatoriedad
random.shuffle(remaining_change)

print(remaining_change)

# Asignar números al azar de la lista 'change' a cada clave en 'reasingacion'
for key in reasingacion.keys():
    num_to_assign = len(reasingacion[key])  # número de elementos a asignar
    assigned_numbers = [remaining_change.pop() for _ in range(num_to_assign)]
    final_reasingacion[key] = assigned_numbers

if sorteo:
    df = pd.DataFrame(final_reasingacion.values(), index=final_reasingacion.keys())
else:
    df = pd.DataFrame(columns=range(0,3), index=final_reasingacion.keys())
df = df.fillna(0).astype(int)
df.replace(0,'-',inplace=True)
display(df)

[25, 28, 40, 42, 38, 46, 23, 5, 36, 29]

            0   1   2
Cintia     29   -   -
Milton     36   -   -
Martin      5   -   -
Florencia  23  46  38
Fabian     42   -   -
Silvia     40  28   -

In [25]:
import random
import pandas as pd
finally_asig = {
    'Angelica': [22],
    'Bisset': [11,50,51],
    'Cintia': [29],
    'David': [12,37,47],
    'Francisco': [8,45,49],
    'Milton': [10,20,36],
    'Stefi': [35],
    'Ana': [30,41,53],
    'Edwin': [13,34,44],
    'Martin': [5,7,39],
    'Florencia': [23,38,46],
    'Fabian': [6,32,42],
    'Silvia': [26,28,40],
    'Juan': [14,24,43],
    'Andres': [48,52,54],
    'Sofia': [4],
    'Micaela': [33],
    'Roxana': [3,9,31],
    'Emiliano': [],
}
all_numbers = list(range(3, 59))

finally_list = [item for sublist in finally_asig.values() for item in sublist]
finally_list.sort()
finally_list

lista_emiliano = [element for element in all_numbers if element not in finally_list]
finally_asig['Emiliano'] = lista_emiliano

df = pd.DataFrame(finally_asig.values(), index=finally_asig.keys())
df = df.fillna(0).astype(int)
df.replace(0,'-',inplace=True)
display(df)

           0   1   2   3   4   5   6   7   8   9   10  11
Angelica   22   -   -   -   -   -   -   -   -   -   -   -
Bisset     11  50  51   -   -   -   -   -   -   -   -   -
Cintia     29   -   -   -   -   -   -   -   -   -   -   -
David      12  37  47   -   -   -   -   -   -   -   -   -
Francisco   8  45  49   -   -   -   -   -   -   -   -   -
Milton     10  20  36   -   -   -   -   -   -   -   -   -
Stefi      35   -   -   -   -   -   -   -   -   -   -   -
Ana        30  41  53   -   -   -   -   -   -   -   -   -
Edwin      13  34  44   -   -   -   -   -   -   -   -   -
Martin      5   7  39   -   -   -   -   -   -   -   -   -
Florencia  23  38  46   -   -   -   -   -   -   -   -   -
Fabian      6  32  42   -   -   -   -   -   -   -   -   -
Silvia     26  28  40   -   -   -   -   -   -   -   -   -
Juan       14  24  43   -   -   -   -   -   -   -   -   -
Andres     48  52  54   -   -   -   -   -   -   -   -   -
Sofia       4   -   -   -   -   -   -   -   -   -   -   -
Micaela    33   -   -   -   -   -   -   -   -   -   -   -
Roxana      3   9  31   -   -   -   -   -   -   -   -   -
Emiliano   15  16  17  18  19  21  25  27  55  56  57  58

In [4]:
Lista_TC = [33,34,10,24,25,36,38,39,40,41,50,53,54,3,4,7,11,12,13,14,21,26,30,31,32,43,51,52,20,28,35,48,49,15,16,17,18,19,22,44,46,47,8,27,45,5,6,9,29,37,42,23]
Lista_TC.sort()
len(Lista_TC)

52